h1 {
    margin-left: 36%;
}

div.com{
    margin-left: 1200px;
    margin-top: 250px;
    border-style: dotted;
    text-align: center;
}

div.you{
    margin-right: 1200px;
    margin-top: -30px;
    border-style: dotted;
    text-align: center;
}

div.images{
    margin-right: 900;
    margin-top: 150px;
    border-style: dotted;
    text-align: center;
}



