h1 {
    margin-left: 36%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

div.com{
    margin-left: 1200px;
    margin-top: 250px;
    border-style: groove;
    text-align: center;
    width: 500px;
    font-size: xx-large;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: thick;
}

div.you{
    margin-right: 120px;
    margin-top: -94px;
    border-style:groove;
    text-align: center;
    width: 400px;
    margin-left: 50px;
    font-size: xx-large;
    margin-bottom: 50px;
    position: relative;
    top: 150;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: thick;

}

div.images{
    margin-right: 900;
    margin-top: 150px;
    border-style: solid;
    text-align: center;
    border-left: 50px;
    border-left-width: 100px;
    border-radius: 0px;
    width: 400px;
    margin-left: 800px;
    height: 300px;
    border-width: thick;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: powderblue;
}

div {
    font-size: 40px;
}

