h1 {
    margin-left: 36%;
}

div.com{
    margin-left: 1200px;
    margin-top: 250px;
    border-style: groove;
    text-align: center;
    width: 500px;
    font-size: xx-large;
    margin-bottom: 50px;
    
}

div.you{
    margin-right: 120px;
    margin-top: -94px;
    border-style:groove;
    text-align: center;
    width: 400px;
    margin-left: 50px;
    font-size: xx-large;
    margin-bottom: 50px;
    position: relative;
    top: 150;

}

div.images{
    margin-right: 900;
    margin-top: 150px;
    border-style: groove;
    text-align: center;
    border-left: 0px;
    border-left-width: 100px;
    border-radius: 0px;
    width: 400px;
    margin-left: 800px;
    height: 200px;
}

body{
    background-color: lightcyan;
}

div {
    font-size: 40px;
}

